câu A

In [ ]:
x=int(input())
print(x)

698
698

câu B

In [ ]:
n = int(input())
m=int(input())
print(n%m)

2064
4
0

câu C

In [ ]:
n=int(input())
m=int(input())
print(n/m)

2064
4
516.0

câu D

In [ ]:
import math
x=float(input())
cos_x=round(math.cos(x), 3)
sin_x=round(math.sin(x), 3)
tan_x=round(math.tan(x), 3)
cotan_x=round(1 / math.tan(x), 3)
print(f'{cos_x} {sin_x} {tan_x} {cotan_x}')

0.112
0.994 0.112 0.112 8.891

câu E

In [ ]:
n=int(input())
if n%2 == 0:
  print("YES")
else:
  print("NO")

588
YES

câu F

In [ ]:
n=int(input())
can_n=int(n**0.5)
if can_n * can_n == n:
  print("YES")
else:
  print("NO")

495
NO

câu G

In [ ]:
a=float(input())
b=float(input())
if a==0 and b!=0:
  print("VN")
else:
  print('%0.3f'%(-b/a))

22
0
-0.000

câu H

In [ ]:
import math
x=int(input())
y=math.sqrt(x)
print('%0.3f'%y)

344
18.547

câu I

In [ ]:
a ,b ,c= map(int,input().split())
so_min = min(a ,b ,c)
so_max = max(a ,b ,c)
print(so_min , so_max)

31 1032 4096
31 4096

Câu J

In [ ]:
a ,b ,c= map(int,input().split())
if a>0 and b>0 and c>0:
  if a+b>c or a+c>b or b+c>a:
   print("YES")
  else:
   print("NO")
else:
  print("NO")

7 8 9
YES

Câu K

In [ ]:
a, b, c= map(int, input().split())
if a>0 and b>0 and c>0:
  if a**2 + b**2 == c**2 or a**2 + c**2 == b**2 or b**2 + c**2 == a**2:
    print("YES")
  else:
    print("NO")
else:
  print("NO")

3 4 5
YES

câu L

In [ ]:
x1,y1= map(int, input().split())
x2,y2= map(int, input().split())
x3,y3= map(int, input().split())
a=(y2-y1) / (x2-x1) if x2 - x1 != 0 else float('inf')
b=(y3-y1) / (x3-x1) if x3 - x1 !=0 else float('inf')
if a == b:
  print("YES")
else:
  print("NO")

0 0
1 1
2 2
YES

Câu M

In [ ]:
x=int(input())
a=list(map(int,input().split()))
for c in a:
  print(c, end=" ")

5
5 4 3 2 1
5 4 3 2 1

Câu N

In [ ]:
x=int(input())
Sn=0
for i in range(1,x+1):
  Sn+=i
print(Sn)

5
15

Câu O

In [ ]:
n=int(input())
a=map(int,input().split())
so_duong=[num for num in a if num > 0]
m=len(so_duong)
if m==0:
  print("Day so khong co phan tu duong")
else:
  print(m)
  print(*so_duong)

6
1 2 -3 4 6 8
5
1 2 4 6 8

câu P

In [ ]:
n=int(input())
x=list(map(int,input().split()))
y=list(map(int,input().split()))
Tich_vo_huong=0
for i in range(n):
  Tich_vo_huong += x[i] * y[i]
print(Tich_vo_huong)

3
1 2 3
0 1 2
8

Câu Q

In [ ]:
n=int(input())
x=list(map(int,input().split()))
Tong=0
so_hang = 0
for num in x:
 if num >=0:
  Tong += 1
  so_hang += num
if Tong>0:
  Trung_binh_cong=so_hang / Tong
else:
  Trung_binh_cong == 0
print('%0.3f'%Trung_binh_cong)

5
1 -2 -3 0 9
3.333

bài R

In [ ]:
n=int(input())
x=list(map(int,input().split()))
so_lan_xuat_hien={}
for num in x:
  if num in so_lan_xuat_hien:
    so_lan_xuat_hien[num] += 1
  else:
    so_lan_xuat_hien[num] = 1
phan_tu_khac_nhau=sorted(so_lan_xuat_hien)
print(len(phan_tu_khac_nhau))
for num in phan_tu_khac_nhau:
  print(num , so_lan_xuat_hien[num])

5
1 4 5 6 7
5
1 1
4 1
5 1
6 1
7 1

bài S

In [ ]:
import math
x=int(input())
if x<2:
  print("NO")
else:
  for i in range(2,int(math.sqrt(x)+1)):
    if x % i ==0:
      print("NO")
    else:
      print("YES")

5
YES

bài T

In [ ]:
n ,x=map(int,input().split())
so=list(map(int,input().split()))
lon_hon=0
for num in so:
  if num >x:
    lon_hon +=1
print(lon_hon)

1 2
3 4 5 6
4

bài U

In [ ]:
n=int(input())
x=list(map(int,input().split()))
Tong=sum(x)
tbc=Tong/n
print('%0.3f'%tbc)

3
1 2 9
4.000

bài V

In [ ]:
n=int(input())
x=list(map(int,input().split()))
so_lon_nhat=max(x)
print(so_lon_nhat)

5
1 2 3
3

# **07/11/2023**

câu C

In [ ]:
def f(n):
  if n<=2:
    return(1)
  else:
    return f(n-1)+ f(n-2)
n=int(input())
ket_qua=f(n)
print(ket_qua)

0
1

câu D

In [ ]:
m=int(input())
F_1=1
F_2=1
n=2
while True:
  F_n=F_1 +F_2
  n+=1
  if F_n > m:
    break
  F_1=F_2
  F_2=F_n
print(n-1)

3
4

câu A

In [ ]:
n1 ,n2=map(int, input().split())
ket_qua=[]
n= 0
while True:
  a=n**2 - 100*n +1
  if a > n2:
    break
  if n1<=a and a<n2:
    ket_qua.append(n)
  n += 1
if(len(ket_qua))==0:
  print("vo_nghiem")
else:
  print(len(ket_qua))
  print(*ket_qua)

0 100

AttributeError: ignored

câu E

In [ ]:
n=int(input())
def f(n):
  if n<=2:
    return 1
  else:
    return f(n-1) + f(n-2)
if n==f(n):
  print("YES")
else:
  print("NO")

1
YES

câu B

In [ ]:
def s(n):
    return 1/n
m = float(input())
end = 1
while True:
    tong = sum(s(n) for n in range(1, end+1))
    if tong > m:
        if m >= sum(s(n) for n in range(1, end)) and end > 1:
            print(end-1)
        else: print('NULL')
        break
    end += 1

2
3

# 9/11/2023

câu F

In [ ]:
A=[]
m,n=map(int,input().split())
for i in range(m):
  hang_i=list(map(int,input().split()))
  A.append(hang_i)
for i in range(m):
  for j in range(n):
    if j !=n-1:
      print(A[i][j],end=' ')
    else:
      print(A[i][j])

2 2
1 2
3 4
1 2
3 4

câu G

In [ ]:
m,n,p=map(int,input().split())
A=[list(map(int,input().split())) for _ in range(m)]
B= [list(map(int,input().split())) for _ in range(n)]
C=[[0 for _ in range(p)] for _ in range(m)]
for i in range(m):
  for k in range(p):
    for j in range(n):
      C[i][k] += A[i][j] * B[j][k]
for i in range(m):
  print(*C[i])

2 2 2
1 0
0 1
1 3
4 5
1 3
4 5

câu H

In [ ]:
m,n = map(int,input().split())
k,l = map(int,input().split())
matrix=[list(map(int,input().split())) for _ in range(m)]
for i in range(m):
  matrix[i][k-1],matrix[i][l-1] = matrix[i][l-1],matrix[i][k-1]
for a in matrix:
  print(*a)

2 3 3 2
1 2 3
4 5 6
1 3 2
4 6 5

câu I

In [ ]:
def khoang_cach(x0 ,y0 ,xi ,yi ):
    return ((x0+xi)**2 +(y0 +yi)**2)**0.5

def classify_region(x0 ,y0 ,R0 ,R1 ,diem):
    F0_diem = []
    F1_diem = []
    F2_diem = []
    for xi, yi in diem:
       r = khoang_cach(x0 ,y0 ,xi ,yi)
       if r < R0 :
            F0_diem.append((xi ,yi))
       elif R0 <= r <R1:
            F1_diem.append((xi ,yi))
       else:
            F2_diem.append((xi,yi))
    return F0_diem , F1_diem ,F2_diem

x0 , y0 = map(int, input().split())
R0 ,R1 = map(int, input().split())
m = int(input())
diem = [tuple(map(int, input().split())) for _ in range(m)]
F0_diem ,F1_diem ,F2_diem = classify_region(x0 ,y0 ,R0 ,R1 ,diem)
print(f"F0 {len(F0_diem)}")
for diem in F0_diem:
  print(*diem)
print(f"F1 {len(F0_diem)}")
for diem in F1_diem:
  print(*diem)
print(f"F2 {len(F0_diem)}")
for diem in F2_diem:
  print(*diem)

0 0
1 2
3
0 0
1 1
3 4
F0 1
0 0
F1 1
1 1
F2 1
3 4

In [ ]:
def khoang_cach(x0, y0, xi, yi):
    return ((x0 + xi) ** 2 + (y0 + yi) ** 2) ** 0.5

def classify_region(x0, y0, R0, R1, diem):
   result = {"F0":[], "F1":[], "F2":[]}
   for xi,yi in diem:
    r = khoang_cach(x0 ,y0, xi,yi)
    if r <R0:
      result["F0"].append((xi,yi))
    elif R0 <= r <R1:
      result["F1"].append((xi,yi))
    else:
      result["F2"].append((xi,yi))
   return result
x0 ,y0 = map(int,input().split())
R0 ,R1 = map(int,input().split())
m = int(input())
diem = [tuple(map(int,input().split())) for _ in range(m)]
result = classify_region(x0, y0 ,R0 , R1, diem)
for key,values in result.items():
  print(f"{key}",f"{len(values)}")
  for diem in values:
    print(*diem)

0 0
1 2
3
0 0
1 1
3 4
F0 1
0 0
F1 1
1 1
F2 1
3 4

16/11

bai C

In [ ]:
a = "No data"
n, x = map(int, input().split())
for _ in range(n):
    m, d = map(int, input().split())
    if m == x:
        a = d
        break
print(a)

13 5101
8325 10
3565 6
5101 6
6

bai D

In [ ]:
n,D_min = map(int,input().split())
Diem=[]
for _ in range(n):
  m,D= map(int,input().split())
  if D >= D_min:
    Diem.append((m,D))
print("Tong so sinh vien tham du ky thi cuoi ky:",len(Diem))
for sinh_vien in Diem:
  print(sinh_vien[0],sinh_vien[1])

7 5
4870 8
7339 4
7075 7
8573 9
1906 4
1445 3
5248 10
Tong so sinh vien tham du ky thi cuoi ky: 4
4870 8
7075 7
8573 9
5248 10

bai E

In [ ]:

n,MSSV,D = map(int,input().split())
diem_thi=[]
for _ in range(n):
  m,d=map(int,input().split())
  diem_thi.append((m,d))
diem_thi.append((MSSV,D))
diem_thi.sort(key=lambda x: x[0])
for student in diem_thi:
  print(student[0],student[1])

7 2741 5
1253 9
1799 3
2835 8
4489 6
6731 5
7964 4
9210 6
1253 9
1799 3
2741 5
2835 8
4489 6
6731 5
7964 4
9210 6